* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 850px;
    background-color: yellow;

}

.header {
    color: blue;
    padding: 50px;
    font-size: 25px;
    font-family: 'Fascinate Inline', cursive;
}

#start {
    width: 200px;
    height: 50px;
    font-size: 25px;
    
}

#time-reamining{
    font-size: 30px;

}
#Question {
    padding-top: 15px;
}

h2 {
    font-size: 18px;
}
#radioBtn {
    display: button;
}
#possibleAnswers {
    padding-top: 15px;
}
#question{
    font-family: 'Fascinate Inline', cursive;
    font-size: 20px;
    margin-top: 15px;
    color: blue;
    font-weight: bold;
}
.form-check {
    font-size: 18px;
}
#done-button {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
#correctAnswer, #wrongAnswer, #unAnswered {
    font-family: 'Fascinate Inline', cursive;
    font-size: 20px;
    margin-top: 10px;
    color: blue;
    font-weight: bold;
}
body {
    background-image: url(../images/trivia-tuesdays-background.jpg);
}